//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <180>;
    flavor = "tap-preferred";
    quick-tap-ms = <140>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        TabRight {
            bindings = <&kp TAB>;
            key-positions = <5 6>;
        };

        TabLeft {
            bindings = <&kp TAB>;
            key-positions = <4 3>;
        };

        CirconLeft {
            bindings = <&kp CARET>;
            key-positions = <23 24>;
        };

        CirconRight {
            bindings = <&kp CARET>;
            key-positions = <28 27>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
               &kp Q       &kp W       &kp F        &kp P         &kp B        &kp J         &kp L             &kp I                   &kp O           &kp GRAVE
               &hm LGUI A  &hm LALT R  &hm LCTRL S  &hm LSHIFT T  &kp G        &kp M         &hm LEFT_SHIFT N  &hm LS(LEFT_CONTROL) E  &hm LEFT_ALT I  &hm RGUI O
&kp SEMICOLON  &kp Z       &kp X       &kp C        &kp D         &kp V        &kp K         &kp H             &kp COMMA               &kp DOT         &kp SQT     &kp SLASH
                                       &kp ESCAPE   &lt 2 ENTER   &lt 1 DEL    &lt 1 K_BACK  &lt 3 SPACE       &lt 4 MINUS
            >;
        };

        Symbols {
            bindings = <
               &kp LS(DOLLAR)  &kp LS(AT)           &kp LBKT      &kp RBKT      &kp BSLH        &kp BSPC      &kp N7  &kp N8  &kp N9  &kp FSLH
               &kp LS(POUND)   &kp LS(EXCLAMATION)  &kp LS(LPAR)  &kp LS(RPAR)  &kp LS(PIPE)    &kp LS(PLUS)  &kp N4  &kp N5  &kp N6  &kp MINUS
&kp LS(UNDER)  &kp LS(PRCNT)   &kp LS(STAR)         &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(AMPS)    &kp DOT       &kp N1  &kp N2  &kp N3  &kp LS(STAR)  &kp EQUAL
                                                    &trans        &trans        &trans          &trans        &trans  &kp N0
            >;

            label = "Sym";
        };

        Navigation {
            bindings = <
        &trans        &kp HOME  &kp UP     &kp END    &trans           &trans  &trans  &trans  &trans  &trans
        &kp LC(LEFT)  &kp LEFT  &kp DOWN   &kp RIGHT  &kp LC(RIGHT)    &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans    &kp PG_UP  &kp PG_DN  &trans           &trans  &trans  &trans  &trans  &trans  &trans
                                &trans     &trans     &trans           &trans  &trans  &trans
            >;

            label = "Nav";
        };

        Vim {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp LS(O)  &kp LC(H)  &kp LC(J)  &kp LC(K)  &kp LC(L)
        &trans  &trans  &trans  &trans  &trans    &kp N0     &kp H      &kp J      &kp K      &kp L
&trans  &trans  &trans  &trans  &trans  &trans    &kp O      &kp LS(I)  &kp I      &kp A      &kp LS(A)  &kp LS(DLLR)
                        &trans  &trans  &trans    &trans     &trans     &trans
            >;

            label = "Vim";
        };

        Functions {
            bindings = <
        &trans  &trans      &trans            &trans      &kp C_VOLUME_UP      &trans  &kp F9  &kp F10  &kp F11  &kp F12
        &trans  &kp K_PREV  &kp K_PLAY_PAUSE  &kp K_NEXT  &kp K_MUTE           &trans  &kp F5  &kp F6   &kp F7   &kp F8
&trans  &trans  &trans      &trans            &trans      &kp C_VOLUME_DOWN    &trans  &kp F1  &kp F2   &kp F3   &kp F4   &trans
                            &trans            &trans      &trans               &trans  &trans  &trans
            >;

            label = "Func";
        };
    };
};
